@import url("https://fonts.googleapis.com/css?family=Abel|Montserrat|Patua+One");
@import url("https://fonts.googleapis.com/css?family=Monoton");
/*font-family: 'Abel', sans-serif;
		font-family: 'Montserrat', sans-serif;
		font-family: 'Patua One', cursive;
		font-family: 'Monoton', cursive;*/

@media (min-width: 1024px) {
  .first {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 3%;
  }

  .first div {
    flex: 1;
  }

  .first input {
    width: 45%;
  }

  .images {
    display: flex;
    justify-content: space-between;
  }

  .imgs {
    width: 47%;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .first {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 3%;
  }

  .first div {
    flex: 1;
  }

  .first input {
    width: 45%;
  }
  .images {
    display: flex;
    justify-content: space-between;
  }

  .imgs {
    width: 47%;
  }
}

.first input {
  width: 90%;
}

.content-section {
  margin-bottom: 30px;
}

.about-rental {
  background-color: rgba(120, 120, 120, 0.1);
}

.about-rental .container {
  position: relative;
  margin-left: 10%;
  padding-top: 20px;
  width: 85%;
}

.about-rental .img-contain {
  position: relative;
  margin-top: 40px;
  margin-left: 10%;
  width: 80%;
}

.message-box-section {
  background-image: url("../pictures/violin.jpg");
  background-repeat: no-repeat;
  background-size: stretch;
  padding: 5%;
  border: 3px outset black;
  border-radius: 20px;
}

.Input_Field {
  margin-bottom: 10px;
}

::placeholder {
  color: black;
}
